.filters-sales {
	// background-color: rgb(17, 0, 255);
	height: 50px;
	margin-bottom: 20px;
}

.filters-sales-list{
	list-style: none;
	display: flex;
	height: 50px;
	align-items: center;
	padding: 0;
	justify-content: center;
	border-radius: 5px;
}


.filters-sales-item{
	width: 167px;
	font-size: 12px; 
	border: 1px solid #DFE5EC;
	padding: 15px;
	text-align: center;
	cursor: pointer;
}

.filters-sales-item:nth-child(1){
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.filters-sales-item:nth-child(3){
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.filters-sales-item-active {
	background-color: #2196F3;
	color: #fff;
	width: 167px;
	font-size: 12px; 
	padding: 15px;
	text-align: center;
	cursor: pointer;
}

.filters-sales-item-active:nth-child(1){
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.filters-sales-item-active:nth-child(3){
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}